@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;600;800&display=swap");
body {
	background-color: rgb(44, 44, 44);
}

.hidden {
	display: none;
}

.background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #33333333;
}

.main h3 {
	text-align: center;
	font-family: "Noto Sans";
	font-weight: 200;
	font-size: 2rem;
	color: white;
}

.auth-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -15rem);
}

.main form {
	width: 100%;
	display: flex;
}

.main input {
	width: 20rem;
	background: none;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-family: "Noto Sans";
	font-size: 2rem;
	color: white;
}

.main input:focus {
	outline: none;
}

.main button {
	background: none;
	border: none;
	color: #ddd;
	font-family: "Noto Sans";
	font-size: 2rem;
	font-weight: 200;
	cursor: pointer;
}

.welcome {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -10rem);
}

.clock {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Noto Sans";
	font-size: 3rem;
	color: white;
}

.clock h1 {
	margin: 0;
}

.weather {
	display: flex;
	align-items: center;
	position: fixed;
	top: 1rem;
	right: 1rem;
}

.weather p {
	margin: 0 1rem 0 0;
	font-family: "Noto Sans";
	color: white;
}

.weather p:first-child {
	font-size: 1.5rem;
}

.weather i {
	cursor: pointer;
}

.todo {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}

.todo ul {
	overflow: scroll;
	max-height: 20vh;
	min-height: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: #ffffff77;
	border-radius: 1rem;
	font-family: "Noto Sans";
}

.todo ul::-webkit-scrollbar {
	display: none;
}

.todo li {
	margin: 0.5rem 0;
}

.todo li button {
	display: none;
	margin-left: 0.5rem;
	background: tomato;
	border: none;
	border-radius: 0.2rem;
	font-family: "Noto Sans";
	color: white;
}

.todo li:hover button {
	display: inline;
}

.todo li button:hover {
	display: inline;
	cursor: pointer;
	background: rgb(228, 64, 36);
}

.todo form {
	display: flex;
}

.todo form button {
	margin-left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	border-radius: 5rem;
	cursor: pointer;
}

.todo form button svg {
	width: 100%;
	height: 100%;
}

.todo input {
	height: 1.5rem;
	padding: 0 1rem;
	background-color: white;
	border: none;
	border-radius: 5rem;
	font-family: "Noto Sans";
}
